@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: black;
  --text-color: black;
}

.dark-theme {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

